In [ ]:
import os

os.makedirs("data/raw", exist_ok=True)
os.makedirs("data/processed", exist_ok=True)
os.makedirs("data/output", exist_ok=True)

print("Folders created successfully!")

Folders created successfully!

In [ ]:
import pandas as pd

df = pd.read_csv("customer_churn.csv")   # change file name
df.head()

,Customer_ID,Age,Gender,Tenure,Usage_Frequency,Support _Calls,Payment_ Delay,Subscription_Type,Contract_Length,Total_Spend,Last_Interaction,Churn
0,1,22,Female,25,14,4,27,Basic,Monthly,598,9,1
1,2,41,Female,28,28,7,13,Standard,Monthly,584,20,0
2,3,47,Male,27,10,2,29,Premium,Annual,757,21,0
3,4,35,Male,9,12,5,17,Premium,Quarterly,232,18,0
4,5,53,Female,58,24,9,2,Standard,Annual,533,18,0

In [ ]:
df.info()
df.shape
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64374 entries, 0 to 64373
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Customer_ID        64374 non-null  int64
 1   Age                64374 non-null  int64
 2   Gender             64374 non-null  object
 3   Tenure             64374 non-null  int64
 4   Usage_Frequency    64374 non-null  int64
 5   Support _Calls     64374 non-null  int64
 6   Payment_ Delay     64374 non-null  int64
 7   Subscription_Type  64374 non-null  object
 8   Contract_Length    64374 non-null  object
 9   Total_Spend        64374 non-null  int64
 10  Last_Interaction   64374 non-null  int64
 11  Churn              64374 non-null  int64
dtypes: int64(9), object(3)
memory usage: 5.9+ MB

Customer_ID          0
Age                  0
Gender               0
Tenure               0
Usage_Frequency      0
Support _Calls       0
Payment_ Delay       0
Subscription_Type    0
Contract_Length      0
Total_Spend          0
Last_Interaction     0
Churn                0
dtype: int64

In [ ]:
df = df.drop_duplicates()

In [ ]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")
df.columns

Index(['customer_id', 'age', 'gender', 'tenure', 'usage_frequency',
       'support__calls', 'payment__delay', 'subscription_type',
       'contract_length', 'total_spend', 'last_interaction', 'churn'],
      dtype='object')

In [ ]:
df.dtypes

customer_id           int64
age                   int64
gender               object
tenure                int64
usage_frequency       int64
support__calls        int64
payment__delay        int64
subscription_type    object
contract_length      object
total_spend           int64
last_interaction      int64
churn                 int64
dtype: object

In [ ]:
df['high_value_customer'] = df['total_spend'].apply(lambda x: 1 if x > 500 else 0)

In [ ]:
df['long_tenure'] = df['tenure'].apply(lambda x: 1 if x > 12 else 0)

In [ ]:
customers = df[['customer_id','age','gender','subscription_type','contract_length']]

In [ ]:
df.columns = df.columns.str.replace("__", "_")
df.columns

Index(['customer_id', 'age', 'gender', 'tenure', 'usage_frequency',
       'support_calls', 'payment_delay', 'subscription_type',
       'contract_length', 'total_spend', 'last_interaction', 'churn',
       'high_value_customer', 'long_tenure'],
      dtype='object')

In [ ]:
usage = df[['customer_id','tenure','usage_frequency','support_calls','payment_delay','last_interaction']]

In [ ]:
churn = df[['customer_id','total_spend','churn','high_value_customer','long_tenure']]

In [ ]:
import sqlite3

conn = sqlite3.connect("database.sqlite")

customers.to_sql("customers", conn, if_exists="replace", index=False)
usage.to_sql("usage", conn, if_exists="replace", index=False)
churn.to_sql("churn", conn, if_exists="replace", index=False)

conn.close()

print("Data loaded successfully!")

Data loaded successfully!

In [ ]:
df.to_csv("processed_data.csv", index=False)

In [ ]:
print("Final Shape:", df.shape)
print("Customers:", customers.shape)
print("Usage:", usage.shape)
print("Churn:", churn.shape)

Final Shape: (64374, 14)
Customers: (64374, 5)
Usage: (64374, 6)
Churn: (64374, 5)

In [ ]:
original_rows = df.shape[0]
print("Original Rows:", original_rows)

Original Rows: 64374

In [ ]:
df = df.dropna()
df = df.drop_duplicates()

In [ ]:
cleaned_rows = df.shape[0]
print("Cleaned Rows:", cleaned_rows)

print("Rows Removed:", original_rows - cleaned_rows)

Cleaned Rows: 64374
Rows Removed: 0